body {
	background-color: #ffffff;
}

/* header */
#header {
	margin-bottom: 15px;
}

#header h1 {
	color: #658A16;
}

#header h1 small {
	color: #BACE87;
}

#smartFloat {
	width: 100%;
	z-index: 400;
	min-width: 1280px;
}

/* footer */
#footer {
	margin-top: 15px;
	padding: 15px 0px 0px 0px;
	font-size: 95%;
	text-align: center;
	border-top: 2px solid #47a1e5;
}

#footer a {
	color: #999;
}

.headTable {
	padding: 8px;
	margin-bottom: 20px;
	border: 1px solid #c0c0c0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}

.label-control {
	width: 120px;
	text-align: right;
}

.bodyTable {
	margin-top: 60px;
	margin-bottom: 20px;
	border: 1px solid #c0c0c0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}

.searchDiv {
	border: 1px solid #c0c0c0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}

.bodyTable td {
	font-size: 12px;
}

.table-form {
	width: 100%;
}

.table-form th {
	word-break: keep-all;
	white-space: nowrap;
}

.table-form th a {
	cursor: pointer;
}

.table-form th:hover {
	background-color: #cccccc;
}

.selectTh {
	background-color: #cccccc;
}

.scrollBar {
	scrollbar-arrow-color: #000000; /*三角箭头的颜色*/
	scrollbar-face-color: #aaccdd; /*立体滚动条的颜色（包括箭头部分的背景色）*/
	scrollbar-3dlight-color: #f7fbfe; /*立体滚动条亮边的颜色*/
	scrollbar-highlight-color: #f7fbfe; /*滚动条的高亮颜色（左阴影）*/
	scrollbar-shadow-color: #f7fbfe; /*立体滚动条阴影的颜色*/
	scrollbar-darkshadow-color: #f7fbfe; /*立体滚动条外阴影的颜色*/
	scrollbar-track-color: #f7fbfe; /*立体滚动条背景颜色*/
	scrollbar-base-color: #f7fbfe; /*滚动条的基色*/
}

.dialog {
	margin: 50px;
	text-align: center;
	line-height: 25px;
}

.initdialog {
	margin: 100px;
	text-align: center;
	line-height: 25px;
}

.rows {
	*zoom: 1
}

.rows:before,.rows:after {
	display: table;
	line-height: 0;
	content: ""
}

.rows:after {
	clear: both
}

[class*="span"] {
	float: left;
	min-height: 1px;
	margin-left: 20px
}

.inform {
	text-align: center;
}

.control-labels {
	width: 400px;
	text-align: right;
	padding-top: 5px;
	float: left;
	margin-right: 20px;
}

.form-action {
	padding: 19px 20px 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border-top: 1px solid #e5e5e5;
	*zoom: 1
}

.form-action:before,.form-action:after {
	display: table;
	line-height: 0;
	content: ""
}

.form-action:after {
	clear: both
}

.control {
	width: 400px;
	*display: inline-block;
	*padding-left: 20px;
	*margin-left: 0;
	margin-left: 420px;
	text-align: left;
}

.control-form {
	width: 335px;
	text-align: left;
	margin-left: 10px;
	float: left;
}

.control-labels-form {
	width: 115px;
	text-align: right;
	padding-top: 5px;
	float: left;
	margin-left: 10px;
}

.control-labels-radio {
	width: auto;
	text-align: right;
	padding-top: 5px;
	float: left;
	margin-left: 5px;
}

.control-labels-radio2 {
	width: 120px;
	text-align: right;
	padding-top: 5px;
	float: left;
	margin-left: 10px;
}

.imga {
	cursor: pointer;
}

.atta {
	display: none;;
	color: #ff0000;
}

ol li {
	margin: 8px
}

#con {
	font-size: 12px;
	margin: 0px auto;
	width: 100%
}

#tags {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px 0px 0px 10px;
	width: 700px;
	padding-top: 0px;
	height: 23px
}

#tags li {
	background: url(../images/tagleft.gif) no-repeat left bottom;
	float: left;
	margin-right: 1px;
	list-style-type: none;
	height: 23px
}

#tags li a {
	padding-right: 10px;
	padding-left: 10px;
	background: url(../images/tagright.gif) no-repeat right bottom;
	float: left;
	padding-bottom: 0px;
	color: #999;
	font-size: 14px;
	line-height: 23px;
	padding-top: 0px;
	height: 23px;
	text-decoration: none
}

#tags li.emptytag {
	background: none transparent scroll repeat 0% 0%;
	width: 4px
}

#tags li.selecttag {
	background-position: left top;
	margin-bottom: -2px;
	position: relative;
	height: 25px
}

#tags li.selecttag a {
	background-position: right top;
	color: #000;
	line-height: 25px;
	height: 25px
}

#tagcontent {
	border-right: #aecbd4 1px solid;
	padding-right: 1px;
	border-top: #aecbd4 1px solid;
	padding-left: 1px;
	padding-bottom: 1px;
	border-left: #aecbd4 1px solid;
	padding-top: 1px;
	border-bottom: #aecbd4 1px solid;
	background-color: #fff
}

.input_select {
	width: 224px;
}

.search_img {
	position: absolute;
	float: right;
	right: 8px;
	top: 2px;
}

.search_select {
	width: 164px;
}

.tagcontent {
	padding-right: 10px;
	display: none;
	padding-left: 100px;
	background: url(../images/bg.gif) repeat-x;
	padding-bottom: 20px;
	color: #474747;
	padding-top: 20px;
}

#tagcontent div.selecttag {
	display: block
}

/* login */
.logbould {
	background: url(../images/logbould.jpg) no-repeat center top;
}

.loggings {
	width: 500px;
	height: 50px;
	margin-top: 250px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.logging {
	width: 500px;
	padding-left: 160px;
	margin-left: auto;
	margin-right: auto;
	height: 300px
}

.logging p {
	width: 100px;
	margin-top: 5px;
	margin-right: 10px;
	text-align: right;
	color: #163e7a;
	font-size: 14px;
	float: left;
	line-height: 18px;
	font-family: "微软雅黑"
}

.logang {
	background: url(../images/logang.gif) no-repeat;
	width: 115px;
	height: 43px;
	border: none;
	cursor: pointer
}

.logcontrol {
	margin-left: 30px;
}

.logcontrols {
	margin-left: 120px;
}

.checkboxs {
	width: 50px;
}

/*进度条*/
.example {
	background: #FFF;
	width: 450px;
	font-size: 80%;
	border: 0px #000 solid;
	margin: 20px auto;
	position: relative;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px
}

h3 {
	text-align: center
}

.pbar .ui-progressbar-value {
	display: block !important
}

.pbar {
	overflow: hidden
}

.percent {
	position: relative;
	text-align: right;
}

.elapsed {
	position: relative;
	text-align: right;
}

.buttonStyle {
	width: 64px;
	height: 22px;
	line-height: 22px;
	color: #369;
	text-align: center;
	margin-top: 10px;
	background: url(../images/buticon.gif) no-repeat left top;
	border: 0;
	font-size: 12px;
}

.buttonStyle:hover {
	background: url(../images/buticon.gif) no-repeat left -23px;
}

/*header*/
ul,li,p {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none
}

a:hover {
	text-decoration: underline;
}

img {
	border: none;
}

.c {
	clear: both
}

.fl {
	float: left
}

.fr {
	float: right
}

.tl {
	padding-top: 5px;
	text-align: left
}

.tr {
	text-align: right
}

.tc {
	text-align: center
}

.padding_lef_rig {
	padding: 9px 15px;
}

.padding9 {
	padding: 9px
}

.padding2 {
	padding-left: 2em;
	padding-right: 2em;
}

.padding4 {
	padding-left: 4em;
	padding-right: 4em;
}

.padding6 {
	padding-left: 6em;
	padding-right: 6em;
}

.padding8 {
	padding-left: 8em;
	padding-right: 8em;
}

.mt5 {
	margin-top: 5px
}

.mt8 {
	margin-top: 8px
}

.mt10 {
	margin-top: 10px
}

.mt30 {
	margin-top: 30px
}

.mt20 {
	margin-top: 20px
}

.mt100 {
	margin-top: 100px
}

.pt20 {
	padding-top: 20px
}

.pt15 {
	padding-top: 15px
}

.pt10 {
	padding-top: 10px
}

.pt30 {
	padding-top: 30px
}

.pb50 {
	padding-bottom: 50px
}

.pb15 {
	padding-bottom: 15px
}

.pr10 {
	padding-right: 10px
}

.pr15 {
	padding-right: 15px
}

.pr100 {
	padding-right: 100px
}

.pad10 {
	padding: 10px
}

.pl20 {
	padding-left: 20px
}

.pl10 {
	padding-left: 10px
}

.p50 {
	padding-left: 50px
}

.pl5 {
	padding-left: 5px
}

.pl50 {
	padding-left: 150px
}

.p250 {
	padding-left: 250px
}

.logbould {
	background: url(../images/logbould.jpg) no-repeat center top;
}

.logging li {
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	margin-bottom: 22px
}

.logging .loginput {
	width: 263px;
	height: 28px;
	line-height: 28px;
	border: none;
	background: none;
	padding-left: 30px;
}

.logging .loginput02 {
	width: 170px;
	height: 28px;
	line-height: 28px;
	border: none;
	background: none;
	padding-left: 30px;
}

.logang {
	background: url(../images/logang.gif) no-repeat;
	width: 115px;
	height: 43px;
	border: none;
	cursor: pointer
}

.angwind {
	width: 315px;
	text-align: center
}

.head {
	background: #47a1e5 url(../images/head.jpg) no-repeat right;
	height: 90px;
	border-bottom: #83cff2 1px solid;
	width: 100%;
	min-width: 1001px
}

.wind {
	width: 1001px;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	width: 423px;
	float: left
}

.mint {
	background: url(../images/mant.gif) repeat-x;
	height: 43px;
	line-height: 43px;
	border-bottom: #1f7aaf 1px solid;
	border-top: #1f7aaf 1px solid;
	font-size: 14px;
	width: 100%;
	min-width: 1001px
}

.mint li {
	background: url(../images/lis.gif) no-repeat left;
	padding-left: 25px;
	padding-right: 25px;
	width: auto;
	float: left;
	height: 43px
}

.mint a {
	color: #fff
}

.mint a:hover {
	color: #FFFF99;
	text-decoration: none
}

.manager {
	width: 259px;
	height: 33px;
	background: url(../images/manager.gif) no-repeat;
	float: right;
	line-height: 33px;
	margin-top: 10px
}

.manager p {
	width: 20px;
	float: left;
	padding-left: 25px;
}

.seach {
	background: url(../images/seachbould.gif) no-repeat;
	width: 224px;
	height: 30px;
	margin-top: 6px;
	margin-left: 30px
}

.seach input {
	background: none;
	border: none
}

.seach .put {
	width: 153px;
	height: 28px;
	line-height: 28px;
	padding-left: 15px;
	color: #646464
}

.seach .but {
	width: 50px;
	height: 28px;
	cursor: pointer
}

.naybould {
	background: #f4f6f5 url(../images/bould.gif) repeat-x;
	height: 100%;
	width: 100%;
	min-width: 1001px
}

.naytip {
	background: url(../images/naytip.gif) no-repeat;
	height: 40px;
}

.nayset {
	font-size: 12px;
	background: url(../images/set.gif) no-repeat 25px 10px;
	padding-left: 60px;
	line-height: 40px;
	width: 350px;
	float: left;
	color: #386386
}

.casebould {
	background: url(../images/naybould.gif) repeat-y;
	width: 961px;
	min-height: 300px;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px
}

.casebotm {
	background: url(../images/casebamt.gif) no-repeat;
	height: 14px
}

.foot {
	height: 70px;
	margin-top: 20px;
	color: #666
}

.foot a {
	color: #666;
	padding-left: 5px;
	padding-right: 5px
}

.foot a:hover {
	color: #217db0;
	padding-left: 5px;
	padding-right: 5px
}

.foot_texet {
	font-size: 14px;
	color: #217db0;
	padding-bottom: 5px
}

.foot_state {
	font-size: 12px;
	color: #217db0;
	padding-bottom: 5px
}

#jsddm {
	margin: 0;
	padding: 0;
	margin-top: 6px;
	margin-bottom: 6px;
	position: absolute
}

#jsddm li {
	float: left;
	list-style: none;
	font: 12px
}

#jsddm li a {
	display: block;
	text-decoration: none;
	color: #787878;
	white-space: nowrap
}

#jsddm li a:hover {
	
}

#jsddm li ul {
	padding: 5px 8px;
	position: absolute;
	left: 10px;
	visibility: hidden;
	border: 1px solid #055cb9;
	background: #fff;
	z-index: 500;
}

#jsddm li ul li {
	float: none;
	border-bottom: #dbe2e8 1px solid;
	padding-left: 3px
}

#jsddm li ul li a {
	width: auto;
	color: #0072fe
}

#jsddm li ul li a:hover {
	color: #10af0c
}

.set_rig {
	padding-right: 25px;
	width: 350px;
	float: right
}

.bant_r {
	width: 239px;
	float: right;
	height: 22px;
	background: url(../images/shua.jpg) no-repeat;
	margin-top: 9px;
	line-height: 22px;
	padding-top: 3px;
	padding-left: 6px;
	pad
}

.bant_r a {
	color: #3894C4;
}

.bant_r a:hover {
	color: #3894C4;
	text-decoration: none
}

.home {
	width: 60px;
	float: left;
}

.home a {
	width: 36px;
	height: 21px;
	line-height: 21px;
	display: block;
	background: url(../images/home.gif) no-repeat left top;
	padding-left: 22px
}

.home a:hover {
	width: 36px;
	height: 21px;
	line-height: 21px;
	display: block;
	background: url(../images/home.gif) no-repeat left bottom;
	padding-left: 22px
}

.home02 {
	width: 60px;
	float: left;
}

.home02 a {
	width: 36px;
	height: 21px;
	line-height: 21px;
	display: block;
	background: url(../images/home02.gif) no-repeat left top;
	padding-left: 22px
}

.home02 a:hover {
	width: 35px;
	height: 21px;
	line-height: 21px;
	display: block;
	background: url(../images/home02.gif) no-repeat left bottom;
	padding-left: 22px
}

.home03 {
	width: 60px;
	float: left;
}

.home03 a {
	width: 36px;
	height: 21px;
	line-height: 21px;
	display: block;
	background: url(../images/home03.gif) no-repeat left top;
	padding-left: 22px
}

.home03 a:hover {
	width: 36px;
	height: 21px;
	line-height: 21px;
	display: block;
	background: url(../images/home03.gif) no-repeat left bottom;
	padding-left: 22px
}

.home04 {
	width: 59px;
	float: left;
}

.home04 a {
	width: 36px;
	height: 21px;
	line-height: 21px;
	display: block;
	background: url(../images/home04.gif) no-repeat left top;
	padding-left: 22px
}

.home04 a:hover {
	width: 36px;
	height: 21px;
	line-height: 21px;
	display: block;
	background: url(../images/home04.gif) no-repeat left bottom;
	padding-left: 22px
}

.word_any {
	width: 90px;
	float: right;
	padding-left: 7px;
	margin-top: 9px;
}

.word_any li {
	width: 25px;
	text-align: center;
	float: left;
	margin-right: 4px;
	_margin-right: 4px
}

.word_any li a {
	background: url(../images/wordbould.png) no-repeat top;
	width: 25px;
	text-align: center;
	padding-top: 1px;
	height: 24px;
	display: block
}

.word_any li a:hover {
	background: url(../images/wordbould.png) no-repeat bottom;
	width: 25px;
	text-align: center;
	padding-top: 1px;
	height: 24px;
	display: block
}