<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.xbwl.demo.repository.TaskMyBatisDao">
	
	<select id="findOne" parameterType="long" resultType="Task">
		select id, title, description,
		user_id as userId
		from ss_task
		where id=#{id}
	</select>
	
	<insert id="save" parameterType="Task" >
		insert into ss_task (
			id, title, description, user_id)
		values (
			SS_SEQ_USER.nextval, #{title}, #{description}, #{userId}
			)
	</insert>
	
	<update id="update" parameterType="User">
		update ss_task set title=#{title}, description=#{description},user_id=#{userId}
		where id = #{id}
	</update>
	
	<delete id="delete" parameterType="long">
	     delete from ss_task where id=#{id}
	</delete>
	
	<select id="findAll"  resultType="Task">
		select id, title, description,
		user_id as userId
		from ss_task
		order by id ASC
	</select>
	
	<select id="findAllTask" parameterType="map"  resultType="Task">
		select id, title, description,
		user_id as userId
		from ss_task
		where user_id=#{userId} 
		    <if test="title != null">
				and title like '%${title}%'
			</if>
		order by id ASC
	</select>	
	
	<delete id="deleteByUserId" parameterType="long">
	     delete from ss_task where user_id=#{id}
	</delete>
</mapper> 
